.box-wrapper.message-wrapper
  %a{:href => content_url(content.id)}
    .clickable
      .avatar
        = image_tag avatar_url(content.user), :class => "user-icon"
      .summary-content
        .time-text #{time_ago_in_words(content.created_at)} ago
        .message-head
          - message.group.members.each do |member|
            - if member.id != current_user.id
              %span{:class => message.group.members.length > 3 ? "three" : (message.group.members.length > 2 ? "two" : "") } #{member.first_name}
        .text-line
          .line-name
            %span.passive-text #{content.user.first_name}: 
            %span.message-text #{condenseString content.description}
