

-#
  .embed-wrapper
    = form_for(@reply, :html => { :class => 'embed-fields' }) do |f|
      = f.hidden_field :parent_id, :value => @content.id
      %fieldset
        = f.text_area :description, :placeholder => "Add a reply...", :class => "req", :rows => "4"
      .button-wrapper
        
        
        .file-input-wrapper
          %button.btn-file-input
            = image_tag("/assets/w_photo.png")
          = f.file_field :file
        
        
        = f.submit "Post", :class => "submit"

.box-wrapper.comment
  .avatar
    = image_tag avatar_url(current_user), :class => "user-icon"
  = form_for(@reply, :html => { :class => 'embed-fields' }) do |f|
    = f.hidden_field :parent_id, :value => @content.id
    %fieldset
      = f.text_area :description, :placeholder => "Add a reply...", :class => "req", :rows => "1"
    .button-wrapper
      
        
      .file-input-wrapper
        %button.btn-file-input
          = image_tag("/assets/w_photo.png")
        = f.file_field :file
      
        
      = f.submit "Post", :class => "submit"

